@charset "utf-8";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  vertical-align: top;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.section-title {
  font-size: 34px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

body {
  max-width: 1440px;
  font-size: 18px;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
}

header {
  justify-content: space-between;
  padding: 32px 16px;
  width: 100%;
  max-width: 980px;
  margin: 0 auto 24px;
  line-height: 1;
  align-items: center;
}

#header-logo {
  font-size: 34px;
  font-weight: bold;
  border: 1px solid #000;
  margin: 0;
  padding: 8px 22px 7px;
  color: #000;
}

header > nav > a {
  font-size: 34px;
  font-weight: bold;
}

header > nav > a:first-child {
  margin-right: 15px;
}

#main-visual {
  width: 100vw;
}

article {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  padding: 0 16px;
}

#about {
  margin-top: 72px;
}

#about .flex {
  justify-content: space-between;
  align-items: center;
  margin-top: 72px;
}

.about-img {
  max-width: 280px;
  height: 280px;
  border-radius: 50%;
}

#works {
  margin-top: 87px;
}

#works .flex {
  margin-top: 45px;
  justify-content: center;
  gap: 16px;
}

#works .flex > .item {
  width: 240px;
}

#works .flex > .item > p {
  margin: 5px 0 0;
}

footer {
  width: 100%;
  max-width: 375px;
  margin: 80px auto 11px;
  text-align: center;
  padding: 10px 0;
}

.copyright {
  margin: 0;
}

@media screen and (max-width: 767px) {
  header {
    margin: 0 auto;
  }

  #header-logo {
    font-size: 28px;
    padding: 6px 20px 6px;
  }

  header > nav > a {
    font-size: 21px;
  }

  article {
    padding: 0 10px;
  }

  #about {
    margin-top: 33px;
  }

  #about .flex {
    flex-direction: column;
    margin-top: 60px;
  }

  #about .flex > .text {
    max-width: 300px;
  }

  #about .flex > .text > ul {
    margin: 12px 0;
    padding: 0 0 0 30px;
  }

  #works .flex {
    margin-top: 20px;
    gap: 40px;
  }

  #works .flex > .item {
    width: 100%;
  }

  footer {
    margin: 40px auto 0;
  }
}
